
*{
	box-sizing: border-box;
    margin: 0;
  padding: 0;
}
body{
	text-align: center;
	font-family: 'Lato', 'sans-serif';
	font-weight: 400;
}
a{
  text-decoration: none;
}
.form{
    margin: 50px;
}
.info-text{
  text-align: left;
  width: 100%;
}
form{
	padding: 4em 10%;
}

.form-group{
	margin-bottom: 20px;
}
h2.heading{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	color: black;
	border-bottom: 1px solid black;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

.controls{
	text-align: left;
	position: relative;
}
	input[type="text"],
	input[type="email"],
  input[type="number"],
  input[type="date"],
	input[type="tel"],
	textarea,
	button,
	select{
		padding: 12px;
		font-size: 14px;
		border: 1px solid black;
		width: 100%;
		margin-bottom: 18px;
		color: #888;
		font-family: 'Lato', 'sans-serif';
		font-size: 16px;
		font-weight: 300;
		border-radius: 2px;
		transition: all;	
}
   

	.fa-sort{
		position:absolute;
		right: 10px;
		top: 17px;
		color: #999;
	}
	select{

		cursor: pointer;
	}
	label{
		position: absolute;
		left: 8px;
		top: 12px;
     width: 60%;
     color: #999;
		font-size: 16px;
		display: inline-block;
		padding: 4px 10px;
		font-weight: 400;
		background-color: rgba(255,255,255,0);
		/* transition: color .3s, top .3s, background-color .8s); */
     background-color: rgba(255,255,255,1);
    }

    label::after{
			top: -11px;
			color: #555;
      background-color: rgba(255,255,255,1);
      width: auto;
		}
	textarea{
		resize: none;
		height: 200px;
	}

button{
  cursor: pointer;
  background-color: #365e11;
  border: 2px solid #365e11;
  border: none;
  color: #fff;
  padding: 12px 0;
  float: right;
}
  button:hover{
    background-color: White;
    color: #365e11;
    border: 2px solid #365e11;
}

.clear:after{
    content: "";
    display: table;
    clear: both;
}


.grid {
  background: white;
  margin: 0;
}
  
  .grid::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding-right: 10px;
}


.grid:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 760px) {
    .column {
      width: 100%;
      padding-right: 0;
    }
   
  }