/* offset */
*{
    margin:0;
    padding: 0;
}
.container{
    width: 1178px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
ol li{
    list-style: none;
    display: inline-block;
}
.clearfix{
    clear: both;
}
p, li, a{
    font-family: 'Indie Flower', cursive;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
a:hover{
    color: #f53f1a;
}
.right{
    float: right;
}
.left{
    float: left;
}
p{
    text-align: justify;
    line-height: 1.5;
}a{
    font-weight: 700;
    color: #365e11;
}
h1, h2, h3, h4, h5, h1 a, h3 a{
    font-family: 'Special Elite', cursive;
}
